/productos.db
/.idea/pyLspTools.xml
/.idea/misc.xml
/.idea/.gitignore
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/Tienda Tonito.iml
/.idea/vcs.xml
